<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyifan.projectinit.mapper.DatabaseInfoMapper">

    <sql id="Base_Column_List">
        id,name,url,user_name,password,driver
    </sql>
    <select id="getData" resultType="com.xuyifan.projectinit.bean.DatabaseInfoBean">
        select
        <include refid="Base_Column_List" />
        from data_base_info
        where id = #{id}
    </select>
    <select id="getDatasByLike" resultType="com.xuyifan.projectinit.bean.DatabaseInfoBean">
        select
        <include refid="Base_Column_List" />
        from data_base_info
        where name like #{name}
    </select>

    <delete id="deleteData" >
        delete from data_base_info
        where id = #{id}
    </delete>
    <insert id="addData" parameterType="DatabaseInfoBean">
        insert into data_base_info (
        <include refid="Base_Column_List" />
        )
        values (
        #{id},#{name},#{url},#{userName},#{password},#{driver}
        )
    </insert>

    <update id="updateData" parameterType="DataDriverBean">
        update data_base_info
        set
           name= #{name}
          ,url= #{url}
          ,user_name= #{userName}
          ,password= #{password}
          ,driver= #{driver}
        where id = #{id}
    </update>
</mapper>
