<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyifan.basedao.mapper.ResMenuMapper">
  <resultMap id="BaseResultMap" type="com.xuyifan.basedao.bean.ResMenuBean">
    <id column="id" property="id" />
    <result column="created" property="created" />
    <result column="created_time" property="createdTime" />
    <result column="level" property="level" />
    <result column="name" property="name" />
    <result column="parent_id" property="parentId" />
    <result column="updated" property="updated" />
    <result column="updated_time" property="updatedTime" />
    <result column="url" property="url" />
    <result column="version" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
created,created_time,id,level,name,parent_id,updated,updated_time,url,version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from res_menu
    where id = #{id}
  </select>

    <select id="selectListBySelective" parameterType="com.xuyifan.basedao.bean.ResMenuBean" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from res_menu
      <where>
      <if test="created != null">
      created = #{created}
      </if>
      <if test="createdTime != null">
      and created_time = #{createdTime}
      </if>
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="level != null">
      and level = #{level}
      </if>
      <if test="name != null">
      and name = #{name}
      </if>
      <if test="parentId != null">
      and parent_id = #{parentId}
      </if>
      <if test="updated != null">
      and updated = #{updated}
      </if>
      <if test="updatedTime != null">
      and updated_time = #{updatedTime}
      </if>
      <if test="url != null">
      and url = #{url}
      </if>
      <if test="version != null">
      and version = #{version}
      </if>
      </where>
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from res_menu
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.xuyifan.basedao.bean.ResMenuBean">
    insert into res_menu (
    <include refid="Base_Column_List" />
    )
    values (
#{created},#{createdTime},#{id},#{level},#{name},#{parentId},#{updated},#{updatedTime},#{url},#{version}
     )
  </insert>
  <insert id="insertSelective" parameterType="com.xuyifan.basedao.bean.ResMenuBean">
    insert into res_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="created != null">
        created,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="created != null">
        #{created},
      </if>
      <if test="createdTime != null">
        #{createdTime},
      </if>
      <if test="id != null">
        #{id},
      </if>
      <if test="level != null">
        #{level},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="parentId != null">
        #{parentId},
      </if>
      <if test="updated != null">
        #{updated},
      </if>
      <if test="updatedTime != null">
        #{updatedTime},
      </if>
      <if test="url != null">
        #{url},
      </if>
      <if test="version != null">
        #{version},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuyifan.basedao.bean.ResMenuBean">
    update res_menu
    <set>
      <if test="created != null">
        created = #{created},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime},
      </if>
      <if test="id != null">
        id = #{id},
      </if>
      <if test="level != null">
        level = #{level},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId},
      </if>
      <if test="updated != null">
        updated = #{updated},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="url != null">
        url = #{url},
      </if>
      <if test="version != null">
        version = #{version},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuyifan.basedao.bean.ResMenuBean">
    update res_menu
    set
created= #{created}
,created_time= #{createdTime}
,id= #{id}
,level= #{level}
,name= #{name}
,parent_id= #{parentId}
,updated= #{updated}
,updated_time= #{updatedTime}
,url= #{url}
,version= #{version}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
