<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyifan.basedao.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xuyifan.basedao.bean.UserBean">
    <id column="id" property="id" />
    <result column="created" property="created" />
    <result column="created_time" property="createdTime" />
    <result column="login_name" property="loginName" />
    <result column="password" property="password" />
    <result column="updated" property="updated" />
    <result column="updated_time" property="updatedTime" />
    <result column="user_name" property="userName" />
    <result column="version" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
created,created_time,id,login_name,password,updated,updated_time,user_name,version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id}
  </select>

    <select id="selectListBySelective" parameterType="com.xuyifan.basedao.bean.UserBean" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from user
      <where>
      <if test="created != null">
      created = #{created}
      </if>
      <if test="createdTime != null">
      and created_time = #{createdTime}
      </if>
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="loginName != null">
      and login_name = #{loginName}
      </if>
      <if test="password != null">
      and password = #{password}
      </if>
      <if test="updated != null">
      and updated = #{updated}
      </if>
      <if test="updatedTime != null">
      and updated_time = #{updatedTime}
      </if>
      <if test="userName != null">
      and user_name = #{userName}
      </if>
      <if test="version != null">
      and version = #{version}
      </if>
      </where>
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.xuyifan.basedao.bean.UserBean">
    insert into user (
    <include refid="Base_Column_List" />
    )
    values (
#{created},#{createdTime},#{id},#{loginName},#{password},#{updated},#{updatedTime},#{userName},#{version}
     )
  </insert>
  <insert id="insertSelective" parameterType="com.xuyifan.basedao.bean.UserBean">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="created != null">
        created,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="created != null">
        #{created},
      </if>
      <if test="createdTime != null">
        #{createdTime},
      </if>
      <if test="id != null">
        #{id},
      </if>
      <if test="loginName != null">
        #{loginName},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="updated != null">
        #{updated},
      </if>
      <if test="updatedTime != null">
        #{updatedTime},
      </if>
      <if test="userName != null">
        #{userName},
      </if>
      <if test="version != null">
        #{version},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuyifan.basedao.bean.UserBean">
    update user
    <set>
      <if test="created != null">
        created = #{created},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime},
      </if>
      <if test="id != null">
        id = #{id},
      </if>
      <if test="loginName != null">
        login_name = #{loginName},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="updated != null">
        updated = #{updated},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="userName != null">
        user_name = #{userName},
      </if>
      <if test="version != null">
        version = #{version},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuyifan.basedao.bean.UserBean">
    update user
    set
created= #{created}
,created_time= #{createdTime}
,id= #{id}
,login_name= #{loginName}
,password= #{password}
,updated= #{updated}
,updated_time= #{updatedTime}
,user_name= #{userName}
,version= #{version}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
